image: hypriot/dockerindocker  
git:
  path: github.com/hypriot/dockerfiles
script:
  - echo "+++++ start docker daemon +++++"  
  - wrapdocker &  
  - sleep 5
  - echo "+++++ build docker image +++++"  
  - cd $$DOCKER_IMAGE
  - make build
  - echo "+++++ stop docker daemon +++++"  
  - start-stop-daemon --stop --pidfile "/var/run/docker.pid"  
  - echo "#####################\n***** COMPLETED *****\n#####################"
